.privacy-section {
    padding: 2rem 0;
    border-bottom: 0.2rem solid black;
}

.privacy-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy-container h1 {
    margin: 0;
    padding: 0 0.5rem;
    text-align: center;
    font-family: DejaVu Sans, sans-serif;
    font-size: 2.8rem;
}

.privacy-container p {
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 0;
    text-align: justify;
    text-justify: inter-word;
    font-family: DejaVu Sans, sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.consent {
    border-left: 0.5rem solid gray;
    padding: 0 10%;
}

@media (max-width: 768px) {
    .privacy-container h1 {
        font-size: 2rem;
    }

    .privacy-container p {
        font-size: 1rem;
    }
}