.systems-title {
    text-align: center;
    background: #dfdfd5;
    padding: 2rem 0;
}

.systems-title-inner h1 {
    margin: 0;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 4rem;
    font-style: italic;

    color: transparent;
    background: linear-gradient(90deg, #f06 0%, #f60 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

.systems-svgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background: #dfdfd5;
    padding-bottom: 2rem;
}

.svg-text {
    text-anchor: middle;
    dominant-baseline: middle;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
}

.systems-ad {
    display: flex;
    justify-content: center;
    gap: 1rem;

    background-image: url("/assets/IMS_The_Systems_Event_BG.png");
    background-repeat: repeat;
    background-size: 25vw;
}

.video-box {
    display: block;
    width: 25%;
    aspect-ratio: 9 / 16;
}

.video-box video {
    width: 100%;
    height: 100%;
}

.poster {
    width: 60%;
    border: 0.2rem solid black;
    border-bottom: 0;
}

.systems-join-section {
    display: grid;
    grid-template-columns: 1fr;

    padding: 1rem 0 2rem;

    border-top: 0.2rem solid black;

    background-image: url("/assets/IMS_The_Systems_Event_BG.png");
    background-repeat: repeat;
    background-size: 25vw;
}

.systems-join-section p {
    width: 32%;
    margin: 0;

    text-align: center;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 0.8rem;
    font-weight: 100;
}

.join-bullet-div {
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 5rem;

    width: 100%;
    padding-left: 10rem;
}

.join-bullet-div ul {
    width: 100%;
    margin: 0.5rem 0;

    list-style: none;
    text-align: left;

    font-family: "DejaVu Sans", sans-serif;
    font-size: 3rem;
    font-weight: 300;
}

.join-server {
    color: black;
    text-decoration: underline;
}

.arrow {
    display: block;
    width: 8rem;

    transform: rotate(45deg);
    transition: transform 0.3s;
}

.arrow:hover {
    transform: rotate(0deg);
}

.list-small {
    font-size: 0.8rem;
    font-style: italic;
}

@media (max-width: 768px) {
    .systems-svgs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }

    .systems-svgs svg {
        width: 40vw;
        height: auto;
    }

    .systems-title h1 {
        padding: 0 1rem;
        font-size: 1.8rem;
    }

    .systems-ad {
        flex-direction: column;
        place-items: center;
        gap: 0;
    }

    .video-box {
        width: 80vw;
    }

    .poster {
        width: 100%;
    }

    .join-bullet-div {
        gap: 0.5rem;
        padding-left: 10vw;
    }

    .join-bullet-div ul {
        font-size: 1.8rem;
    }

    .arrow {
        width: 2rem;
    }
}