.topheader {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.5rem 0;
}

/*left logo*/
.topheader__logo {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.topheader__logo-img {
    height: 80%;
    width: auto;
    object-fit: contain;
}

/*right icons*/
.topheader__links {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    gap: 1.5rem;
    padding: 1rem 0;
}

.topheader__icon {
    height: 100%;
    object-fit: contain;
    transition: transform 0.15s ease;
}

.topheader__icon img{
    height: 100%;
}

.topheader__icon:hover {
    transform: scale(1.1);
}

/*mobile layout*/
@media (max-width: 850px){
    .topheader{
        padding: 0 1rem;
    }

    .topheader__logo img{
        width: 40vw;
    }

    .topheader__links{
        width: 25vw;
        gap: 0.5rem;
    }

    .topheader__links a{
        transform: scale(0.6);
    }
}
